.mainContainer{
    /* border: 2px solid red; */
    width: 100vw;
}

.header{
    text-align: center;
    margin: 20px;
    font-weight: bold;
    font-family: 'Inter';
}

.cards{
    min-height: 80vh;
}

.AddButton{

    background-color: #678983;
    border: none;
    position: sticky;
    top: 0;
    left: 100%;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PageBox{
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
}