.item{
    background-color: #F0E9D2;
    padding: 10px 20px;
    text-align: center;
    font-family: "Inter";
    font-weight: 600;
}


.buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button{
    border: none;
    background-color:#678983 ;
    color:white ;
    padding: 10px 10px;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}