.item {
    background-color: #F0E9D2;
    padding: 10px 20px;
    text-align: center;
    font-family: "Inter";
    font-weight: 600;
}

.invoice {
    overflow: hidden;
    /* display: none; */
    height: 0;
    /* background-color: aqua; */
    /* color: rebeccapurple; */
}

/* Invoice {
    display: none;
    overflow: hidden;
    height: 0;
} */

.container {
    padding: 10px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    border: none;
    background-color: #678983;
    color: white;
    padding: 10px 10px;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}

table {
    border: 2px solid rgb(245, 233, 202);
    width: 90%;
    height: 200px;
    margin: 20px auto;
}

th {
    border-bottom: 1px solid black;
    text-align: center;
    border: 2px solid rgb(245, 233, 202);
}

td {
    text-align: center;
    border: 2px solid rgb(245, 233, 202);
    margin: 2px;
}