.button{
    border: none;
    background-color:#678983 ;
    color:white ;
    padding: 10px 10px;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
}

.Form{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
}

.input{
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
    background-color: #F0E9D2;
    padding: 10px 10px;
    border: none;
    
}

.label{
    font-weight: 900;
}